// Global
.global-wrap {
    height: 100vh;
}
.gap {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%; 
}

// Navbar
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: $main-color;
    color: white;
}
.navbar {
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 3px solid $main-color !important;
    margin-bottom: 0px !important;
}
.navbar-default .navbar-brand {
  color: $main-color;
}

// Color
.l-e {
    color: $main-color-2 !important;
}
.n-l-e {
    color: #e6e6e6;
}
